<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>费用信息管理</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.css">
	<link rel="stylesheet" href="../../static/css/mine.css" th:href="@{/css/mine.css}">
	<script type="text/javascript" src="../../static/js/jquery-3.5.1.js" th:src="@{/js/jquery-3.5.1.js}"></script>
	<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.js"></script>
</head>
<body>
<div class="pusher" th:style="@{background: url(/img/bg.jpg);}" style="background: url(../../static/img/bg.jpg);">
	<!-- 导航 -->
	<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small m-opacity-small">
		<div class="ui container">
			<div class="ui inverted secondary stackable menu">
				<h2 class="ui teal header item">天怡养老信息系统后台</h2>
				<a href="#" class="active m-item item"><i class="block big orange layout icon"></i>
					<font color="">菜单</font>
				</a>

				<div class="right m-item item  menu">
					<div class="ui dropdown item">
						<div class="text">
							<img class="ui avatar image" src="https://picsum.photos/100/100"/>
							lala
						</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<a href="#" th:href="@{/admin/logout}" class="item">注销</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</nav>
	<!--头部-->
	<div class="ui m-container-small m-margin-tb-large m-padded-lr-reponsive m-opacity-no m-text-spaced-big">
		<div class="ui two pointing menu m-shadow-small ">
			<a href="#" th:href="@{/admin/}" class="item"><i class="big home teal icon"></i><span style="color: #00B5AD; ">首页</span></a>
			<h3 class="ui teal active header item right"><i class=" user icon"></i>修改其余费用</h3>
		</div>
	</div>
	<div class="ui container segment m-text-spaced-big stackable">
		<a th:href="@{/admin/costManage}"><div class="ui success message" th:unless="${#strings.isEmpty(message)}">
			<i class="close icon"></i>
			<div class="header">提示:</div>
			<p th:text="${message}">恭喜，操作成功！</p>
		</div></a>
		<div class="ui teal segment">
			<form class="ui form" method="post" action="#" th:action="@{/admin/extraCostUpdate}">
				<div class="ui grid stackable">
					<div class="six wide column">
						<div class="ui vertical steps">
							<div class="completed step">
								<i class="truck icon"></i>
								<div class="content">
									<div class="title">房费</div>
									<div class="description">请在修改房间处进行对特定房间修改</div>
								</div>
							</div>
							<div class="completed step">
								<i class="credit card icon"></i>
								<div class="content">
									<div class="title">护理费</div>
									<div class="description">请在修改房间处进行对特定房间修改</div>
								</div>
							</div>
							<div class="active step">
								<i class="info icon"></i>
								<div class="content">
									<div class="title">其余费用</div>
									<div class="description">包括伙食等杂费</div>
								</div>
							</div>
						</div>
					</div>
					<div class="six wide column">
						<br><br><br><br><br><br><br><br>
						<div class="ui huge fluid icon input">
							<input type="text" style="color: orangered" name="extraCharges" placeholder="额外总费用/年" th:value="${extraCost}">
							<i class="teal dollar icon"></i>
						</div>
					</div>
				</div>
				<br>
				<h4 class="ui orange horizontal divider header">
					<i class="orange money bill alternate outline icon"></i> Money </h4>
				<!--确认框-->
				<div class="ui container center aligned">
					<button class="ui teal button" type="submit">提交</button>
				</div>
			</form>
		</div>
	</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<div class="ui inverted vertical segment m-padded-tb-massive m-opacity-mini">
		<div class="ui center aligned container">
			<div class="ui inverted divided mobile reversed stackable grid">

				<div class="eight wide column">
					<h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
					<div class="ui inverted link list m-text-thin m-text-spaced m-opacity-mini">
						<a href="" class="item">QQ:1569112659</a>
						<a href="" class="item">email:1569112659@qq.com</a>
					</div>
				</div>
				<div class="eight wide column">
					<h4 class="ui inverted header m-text-thin m-text-spaced">说明</h4>
					<div class="ui inverted link list">
						<p class="m-text-thin m-text-spaced m-opacity-mini">信息管理系统</p>
					</div>
				</div>
			</div>
			<div class="ui inverted section divider"></div>
			<p class="m-text-thin m-text-spaced m-opacity-tiny">Edit 2020.12.20 - 2021.1.17</p>
		</div>
	</div>
</div>

<!--隐藏-->

<div th:style="@{background: url(/img/bg2.jpeg);}" style="background: url(../../static/img/bg2.jpeg);" class="ui top sidebar segment ">
	<div class="ui grid container center aligned stackable">
		<div class="three wide column"><a th:href="@{/admin/}">
			<button class="ui black button "><font style="vertical-align: inherit;">
				<h3> 后台管理首页</h3>
			</font></button></a>
		</div>
		<div class="three wide column"><a th:href="@{/admin/oldManage}">
			<button class="ui blue button "><font style="vertical-align: inherit;">
				<h3> 老人信息管理</h3>
			</font></button></a>
		</div>
		<div class="three wide column"><a th:href="@{/admin/nurseManage}">
			<button class="ui teal button "><font style="vertical-align: inherit;">
				<h3>护理信息管理</h3>
			</font></button></a>
		</div>
		<div class="three wide column"><a th:href="@{/admin/roomManage}">
			<button class="ui orange button "><font style="vertical-align: inherit;">
				<h3>房间信息管理</h3>
			</font></button></a>
		</div>
		<div class="three wide column"><a th:href="@{/admin/costManage}">
			<button class="ui red button "><font style="vertical-align: inherit;">
				<h3>费用信息管理</h3>
			</font></button></a>
		</div>
	</div>
</div>

</body>




<script>
	<!--下拉-->
	$(".ui.dropdown").dropdown();
	<!--菜单-->
	$('.active.item').click(function () {
		$('.sidebar')
				.sidebar({
					transition: 'slide along'
				})
				.sidebar('toggle')
		;
	})
	$('.ui.accordion').accordion('refresh');
	<!--提示消息-->
	$(".message .close")
			.on("click", function () {
				$(this)
						.closest(".message")
						.transition("fade");
			});

	$(".ui.form").form({//非空验证
		fields: {
			extraCharges: {
				identifier: "extraCharges",
				rules: [{
					type: "empty",
					prompt: "提示：请输入定价"
				}]
			},
		}
	});
</script>
</html>
