body{
	background: url("../img/bg.jpg");
}
.m-padded-mini{
	padding:0.2em !important;
}
.m-padded-tiny{
	padding:0.2em !important;
}
.m-padded{
	padding:1em !important;
}
.m-padded-tb-mini{
	padding-top: 0.2em !important;
	padding-bottom:0.2em !important;
}
.m-padded-tb-tiny{
	padding-top: 0.3em !important;
	padding-bottom:0.3em !important;
}
.m-padded-tb-small{
	padding-top: 0.5em !important;
	padding-bottom:0.5em !important;
}
.m-padded-tb{
	padding-top: 1em !important;
	padding-bottom:1em !important;
}
.m-padded-tb-large{
	padding-top: 2em !important;
	padding-bottom:2em !important;
}
.m-padded-tb-big{
	padding-top: 3em !important;
	padding-bottom:3em !important;
}
.m-padded-tb-huge{
	padding-top: 4em !important;
	padding-bottom:4em !important;
}
.m-padded-tb-massive{
	padding-top: 5em !important;
	padding-bottom:5em !important;
}
.m-padded-lr{
	padding-left: 4em !important;
	padding-right: 4em !important;
}
.m-padded-lr-reponsive{
	padding-left: 5em !important;
	padding-right: 5em !important;
}
/* text */
.m-text{
	font-weight:300 !important;
	letter-spacing:1px !important;
	line-height:1.8;
}
.m-text-thin{
	font-weight:300 !important;
}
.m-text-spaced{
	letter-spacing:1px !important;
}
.m-text-spaced-big{
	letter-spacing:2px !important;
}
.m-text-lined{
	line-height:1.8;
}
/* opacity */
.m-opacity-no{
	opacity:0.9 !important;
}
.m-opacity-mini{
	opacity:0.8 !important;
}
.m-opacity-tiny{
	opacity:0.6 !important;
}
.m-opacity-small{
	opacity:0.7 !important;
}
/* position */
.m-right-top{
	position:absolute !important;
	top:0 !important;
	right:0 !important;
}
.m-fixed{
	position:fixed !important;
	z-index:10 !important;
}
.m-right-bottom{
	bottom:0 !important;
	right:0 !important;
}
.m-bottom{
	position:fixed !important;
	bottom:0 !important;
	width: 100%;
	margin: auto;
}
/* dispaly */
.m-inline-block{/*横向*/
	display:inline-block !important;
}
/* container */
.m-container-large{
	max-width:94em !important;
	margin:auto !important;
}
.m-container{
	max-width:72em !important;
	margin:auto !important;
}
.m-container-small{
	max-width:60em !important;
	margin:auto !important;
}
.m-container-tiny{
	max-width:48em !important;
	margin:auto !important;
}
.m-container-sss{
	max-width:32em !important;
	margin:auto !important;
}
/* shadow */
.m-shadow-small{
	-webkit-svg-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}
/* margin */
.m-margin-tb-large{
	margin-top:2em !important;
	margin-bottom:2em !important;
}
.m-margin-tb{
	margin-top:1em !important;
	margin-bottom:1em !important;
}
.m-margin-tb-small{
	margin-top:0.5em !important;
	margin-bottom:0.5em !important;
}
.m-margin-tb-tiny{
	margin-top:0.3em !important;
	margin-bottom:0.3em !important;
}
.m-margin-bottom-small{
	margin-bottom:0.5em !important;
}
.m-margin-bottom-mini{
	margin-bottom:0.2em !important;
}
/* color */
.m-black{
	color:#333 !important;
	background: #333333 !important;
}
.m-teal{
	color:#00B5AD !important;
	background: #00B5AD !important;
}
/*font*/
.m-font-big{
	font-weight: 700 !important;//加粗
}
.m-mobile-show{
	display:none !important;
}
@media screen and (max-width:768px) {
	.m-mobile-hide{
		display:none !important;
	}
	.m-mobile-show{
		display:block !important;
	}
	.m-padded-lr-reponsive{
		padding-left: 0em !important;
		padding-right: 0em !important;
	}
	.m-padded-lr-clear{
		padding-left: 0em !important;
		padding-right: 0em !important;
	}
	.m-mobile-wide{
		width:100% !important;
	}
}
.ui.fixed.sticky + p {
		  margin-top: 39px;
		}
		

		
