<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>护理人员信息</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.css">
	<link rel="stylesheet" href="../static/css/mine.css" th:href="@{/css/mine.css}">
	<script type="text/javascript" src="../static/js/jquery-3.5.1.js" th:src="@{/js/jquery-3.5.1.js}"></script>
	<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.js"></script>
</head>
<body>
<div class="ui small sidebar inverted vertical menu" style="font-size: medium">
	<a style="color: #00B5AD;font-size: large" class="header item">
		<span><i class="large loading snowflake outline icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;天怡</span>
	</a>
	<a href="#" th:href="@{/login}" class="active teal right item"><i class="user icon"></i>后台登录</a>
	<a style="" th:href="@{/}"  class=" item">
		<span><i class=" large home icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主页</span>
	</a>
	<a style="" th:href="@{/oldInformation}"  class=" item">
		<span><i class=" large users icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;老人信息</span>
	</a>
	<a style="" th:href="@{/oldLogin}"  class=" item">
		<span><i class=" large user plus icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;老人注册</span>
	</a>
	<a style="" th:href="@{/roomInformation}"  class=" item">
		<span><i class=" large hotel icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;房间信息</span>
	</a>
	<a style="" th:href="@{/nurseInformation}"  class="active item">
		<span><i class=" large doctor icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;护理人员</span>
	</a>
	<a style="" th:href="@{/nurseLogin}"  class=" item">
		<span><i class=" large user plus icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;添加护理</span>
	</a>
	<a style="" th:href="@{/roomLogin}"  class=" item">
		<span><i class=" large plus icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;添加房间</span>
	</a>
	<a style="" th:href="@{/costInformation}"  class=" item">
		<span><i class=" large dollar icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费用查询</span>
	</a>
</div>
<div class="pusher" th:style="@{background: url(/img/bg.jpg);}" style="background: url(../static/img/bg.jpg);">
	<!-- 导航 -->
	<div class="ui inverted segment m-padded-tb-tiny m-opacity-small">
		<div class="ui container">
			<div class="ui inverted secondary menu">
				<a class="header item"><font style="vertical-align: inherit;"><p><font color="teal" size="5" style="vertical-align: inherit;">天怡</font>
				</p></font></a>
				<a id="menu" class="item"><i class="bars icon"></i>菜单</font></a>

			</div>
		</div>
	</div>
	<div class="m-container-tiny m-padded-tb-large stackable">
		<div class="ui container">
			<!--导航-->
			<div class="ui sticky m-opacity-no">
				<div class="ui segment m-shadow-small m-padded-tb-tiny center aligned">
					<!--搜索-->
					<form name="search" action="#" th:action="@{/nurseSearch}" method="post">
						<div class="ui search">
							<span class="ui icon input">
								<input class="prompt" name="query" type="text" placeholder="姓名 or 编号..." th:value="${query}">
								<i onclick="document.forms['search'].submit()" class="search link icon"></i>
							</span>
							<a href="#" th:href="@{/nurseInformation}" class=""><i class="big undo teal icon"></i><font color="#00B5AD">全部</font></a>
							<div class="results"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!--中间部分-->
	<div id="m-container" class="m-container-large m-padded-tb m-padded-lr m-text-spaced-big">
		<div class="ui success message m-container-small m-margin-bottom-small" th:unless="${#strings.isEmpty(message)}">
			<i class="close icon"></i>
			<div class="header">提示:</div>
			<span th:text="${message}">恭喜，操作成功！</span>找到<font size="4" color="red" th:text="${message1}"></font>条记录！
		</div>
		<div th:fragment="nurseList" class="ui column grid stackable">
			<!--第一个-->
			<div class="ui four wide column" th:each="nurse:${nurses}">
				<div class="ui fluid card">
					<a href="#" target="_blank" th:href="@{/nurseCondition/{id}(id=${nurse.id})}">
						<div class="ui rounded image">
							<img th:if="${nurse.sex}==男" src="../static/img/nnurse.jpg" th:src="@{/img/nnurse.jpg}">
							<img th:if="${nurse.sex}==女" src="../static/img/mnurse.jpg" th:src="@{/img/mnurse.jpg}">
						</div>
					</a>
					<div class="content">
						<h4>
							<a href="#" target="_blank" th:href="@{/nurseCondition/{id}(id=${nurse.id})}">
								<div class="ui center aligned header"><h3><font color="#00B5AD" style="vertical-align: inherit;" th:text="${nurse.nurseId}">01号</font></h3></div>
							</a>
						</h4>
						<p><font color="red" size="3" style="vertical-align: inherit;" >姓名：</font><font color="green" style="vertical-align: inherit;" th:text="${nurse.name}"></font></p>
						<p><font color="red" size="3" style="vertical-align: inherit;">费用：<font color="green" style="vertical-align: inherit;"  th:text="${nurse.price}+'元'">5000元/年</font></font></p>
						<p><font color="teal" size="3" style="vertical-align: inherit;" >性别：</font><font color="#ff4500" style="vertical-align: inherit;" th:text="${nurse.sex}"></font></p>
						<p><font color="teal" size="3" style="vertical-align: inherit;" >评分：</font>
							<font class="ui star rating" th:data-rating="${nurse.grade}" data-max-rating="5"></font></p>
						<div class="meta"><p><font color="teal" size="3" style="vertical-align: inherit;" >描述：</font><font style="vertical-align: inherit;" th:text="${nurse.describe}">
							有窗、豪华、独立厕所浴室
						</font></p></div>
						<hr color="#00B5AD"/>
					</div>
				</div>
			</div>

		</div>
	</div><br><br><br><br><br><br><br>
	<!--结尾-->
	<div class="m-bottom" >
		<div class="ui segment center aligned m-padded-tb-small">
			<font size="3" color="teal">评分</font>
			<div class="ui type selection dropdown">
				<input type="hidden" name="nurseGrad"/>
				<i class="dropdown icon"></i>
				<div class="default text">评分</div>
				<div class="menu">
					<div th:each="nurseGrad : ${nurseGrads}" class="item" data-value="1" th:data-value="${nurseGrad.grade}">
						<font color="teal" size="3" style="vertical-align: inherit;" >评分</font>
						<font class="ui star rating" th:data-rating="${nurseGrad.grade}" data-max-rating="5"></font>&nbsp;&nbsp;&nbsp;
						<font color="red" size="3" style="vertical-align: inherit;" th:text="${nurseGrad.number}"></font>
						<font color="teal" size="3" style="vertical-align: inherit;" >个</font>
					</div>
				</div>
			</div>&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索
			</button>
		</div>
	</div>
</div>
</body>
<script>
	<!--评分-->
	$('.ui.rating')
			.rating('disable')
	;
	<!--导航-->
	$('.ui.sticky')
			.sticky({bottomOffset: 50})
	;
	<!--下拉-->
	$('.ui.dropdown')
			.dropdown()
	;
	<!--局部刷新-->
	$("#search-btn").click(function () {
		loaddata();
	});

	function loaddata() {
		$("#m-container").load("/nurseInformationFilter", {
			nurseGrad: $("[name='nurseGrad']").val(),
		});
	}
	<!--消息框关闭-->
	$('.message .close')
			.on('click', function() {
				$(this)
						.closest('.message')
						.transition('fade')
				;
			})
	;
	<!--菜单-->
	$('#menu').click(function () {
		$('.sidebar')
				.sidebar({
					transition: 'scale down'
				})
				.sidebar('toggle')
		;
	})
</script>
</html>
